{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    <h1>About Page</h1>
    <legend class="border-bottom mb-4">Prototype for a hypothetical Earth Data Store Observation Platform </legend>
        <p>This application is a prototype created by Minimum Effort to explore the potential, details, and concerns of such a platform </p>
        <p><i><font size=-1>Prototype application produced by Quynh Hoang, Maximilian Cunningham, and Jared Larter</font></i></p>
    <img src="/static/profile_pics/maxgrade.jpg" alt="Minimum Effort Joke">
    <img src="/static/profile_pics/tobecontinued.jpeg" alt="To Be Continued">
    </div>
{% endblock content %}
